<div class="container">
    <div>
      <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQFf0lhK7m310g/company-logo_200_200/0/1551375249469?e=2159024400&v=beta&t=PJ8jnZ1ZjapQ4p1ARqcARwqG6D9qDe0dPuw4sMhUzVA" width="100px" hight="100px">
      <h3 class="d-flex justify-content-center">Prueba Energía Solar ESWindows - Luis Reales</h3>
    </div>
    
    <h5 class="d-flex justify-content-center">Portal de Usuarios</h5>
    
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">       
        <li class="nav-item">
            <button routerLink="usuarios"
            class="m-1 btn btn-light btn-outline-primary" Button>Usuarios</button>
        </li>
    </ul>
    </nav>

<router-outlet></router-outlet>